<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.ManufactureMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Manufacture">
    <id column="manufacture_sn" jdbcType="VARCHAR" property="manufactureSn" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="technology_id" jdbcType="VARCHAR" property="technologyId" />
    <result column="launch_quantity" jdbcType="INTEGER" property="launchQuantity" />
    <result column="begin_date" jdbcType="TIMESTAMP" property="beginDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    manufacture_sn, order_id, technology_id, launch_quantity, begin_date, end_date
  </sql>
  <select id="selectByExample" parameterType="com.cskaoyan.bean.ManufactureExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from manufacture
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manufacture
    where manufacture_sn = #{manufactureSn,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from manufacture
    where manufacture_sn = #{manufactureSn,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cskaoyan.bean.ManufactureExample">
    delete from manufacture
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.bean.Manufacture">
    insert into manufacture (manufacture_sn, order_id, technology_id, 
      launch_quantity, begin_date, end_date
      )
    values (#{manufactureSn,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{technologyId,jdbcType=VARCHAR}, 
      #{launchQuantity,jdbcType=INTEGER}, #{beginDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.bean.Manufacture">
    insert into manufacture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="manufactureSn != null">
        manufacture_sn,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="technologyId != null">
        technology_id,
      </if>
      <if test="launchQuantity != null">
        launch_quantity,
      </if>
      <if test="beginDate != null">
        begin_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="manufactureSn != null">
        #{manufactureSn,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="technologyId != null">
        #{technologyId,jdbcType=VARCHAR},
      </if>
      <if test="launchQuantity != null">
        #{launchQuantity,jdbcType=INTEGER},
      </if>
      <if test="beginDate != null">
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cskaoyan.bean.ManufactureExample" resultType="java.lang.Long">
    select count(*) from manufacture
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update manufacture
    <set>
      <if test="record.manufactureSn != null">
        manufacture_sn = #{record.manufactureSn,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.technologyId != null">
        technology_id = #{record.technologyId,jdbcType=VARCHAR},
      </if>
      <if test="record.launchQuantity != null">
        launch_quantity = #{record.launchQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.beginDate != null">
        begin_date = #{record.beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update manufacture
    set manufacture_sn = #{record.manufactureSn,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      technology_id = #{record.technologyId,jdbcType=VARCHAR},
      launch_quantity = #{record.launchQuantity,jdbcType=INTEGER},
      begin_date = #{record.beginDate,jdbcType=TIMESTAMP},
      end_date = #{record.endDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.bean.Manufacture">
    update manufacture
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="technologyId != null">
        technology_id = #{technologyId,jdbcType=VARCHAR},
      </if>
      <if test="launchQuantity != null">
        launch_quantity = #{launchQuantity,jdbcType=INTEGER},
      </if>
      <if test="beginDate != null">
        begin_date = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where manufacture_sn = #{manufactureSn,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.bean.Manufacture">
    update manufacture
    set order_id = #{orderId,jdbcType=VARCHAR},
      technology_id = #{technologyId,jdbcType=VARCHAR},
      launch_quantity = #{launchQuantity,jdbcType=INTEGER},
      begin_date = #{beginDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP}
    where manufacture_sn = #{manufactureSn,jdbcType=VARCHAR}
  </update>

  <resultMap id="manufacturerow" type="com.cskaoyan.bean.schemedprogress.ManufactureRow">
    <id column="manufacture_sn"  property="manufactureSn" />
    <result column="launch_quantity"  property="launchQuantity" />
    <result column="begin_date"  property="beginDate" />
    <result column="end_date"  property="endDate" />

    <association property="cOrder" javaType="com.cskaoyan.bean.schemedprogress.Order">
      <result property="orderId" column="order_id"/>
      <result property="orderDate" column="order_date"/>
      <result property="requestDate" column="request_date"/>
      <result property="note" column="onote"/>
      <result property="quantity" column="quantity"/>
      <result property="unitPrice" column="unit_price"/>
      <result property="unit" column="unit"/>
      <result property="file" column="file"/>
      <result property="status" column="ostatus"/>
      <result column="ccustomid" property="customId"/>
      <result property="productId" column="pproductid"/>
    </association>

    <association property="technology" javaType="com.cskaoyan.bean.technology.Technology">
      <id column="technology_id" jdbcType="VARCHAR" property="technologyId" />
      <result column="technology_name" jdbcType="VARCHAR" property="technologyName" />
      <result column="price" jdbcType="DECIMAL" property="price" />
      <result column="vital_process_period" jdbcType="VARCHAR" property="vitalProcessPeriod" />
      <result column="standard_capacity" jdbcType="INTEGER" property="standardCapacity" />
      <result column="overtime_standard_capacity" jdbcType="INTEGER" property="overtimeStandardCapacity" />
      <result column="overtime_overfulfil_capacity" jdbcType="INTEGER" property="overtimeOverfulfilCapacity" />
      <result column="double_capacity" jdbcType="INTEGER" property="doubleCapacity" />
      <result column="overfulfil_capacity" jdbcType="INTEGER" property="overfulfilCapacity" />
    </association>
  </resultMap>

  <select id="getAllManufactureByPage" resultMap="manufacturerow">
     select m.manufacture_sn,m.launch_quantity,m.begin_date,m.end_date,
           o.order_id,order_date,request_date,onote,quantity,unit_price,unit,file,ostatus,
           ccustomid,custom_name,pproductid,product_name,t.*
           from manufacture m left join  technology t on t.technology_id = m.technology_id
						left join  (select
          order_id,order_date,request_date,o.note onote,quantity,unit_price,unit,file,o.status ostatus,
          c.custom_id ccustomid,custom_name,product_name,p.product_id pproductid
        from
          c_order o left join custom c
        on
          o.custom_id = c.custom_id
        left join
          product p
        on
          o.product_id = p.product_id) o on o.order_id = m.order_id
  </select>

  <select id="getCountManufacture" resultType="_int">
    select count(m.manufacture_sn)
          from manufacture m left join  technology t on t.technology_id = m.technology_id
						left join  (select
          order_id,order_date,request_date,o.note onote,quantity,unit_price,unit,file,o.status ostatus,
          c.custom_id ccustomid,custom_name,product_name,p.product_id pproductid
        from
          c_order o left join custom c
        on
          o.custom_id = c.custom_id
        left join
          product p
        on
          o.product_id = p.product_id) o on o.order_id = m.order_id
  </select>
</mapper>